# Capstone Project: Sales Intelligence Platform for Strategic Retail Decisions
<p align="center"><strong>Author: Anthonia, Specialization: Analysis,Business Focus: Sales, Tool: Panda, PostgreSQL</strong></p>

## Project Summary

- Scope:
> Build a centralized analytics platform for a nationwide retailer using SQL, Python, and PostgreSQL. The project spans OLTP/OLAP modeling, data cleaning, ETL, and advanced analysis.
- Problem Statement:
> Sales insights are fragmented across spreadsheets; there’s no unified data warehouse, making profitability tracking and strategic decisions difficult.
- Objectives:
> - Normalise raw sales data into a clean OLTP schema with surrogate keys.
> - Design an OLAP data warehouse for dimensional analysis (BI).
> - Automate data cleaning, transformation, and database loading.
> - Enable advanced SQL-based reporting and insights using SQL and BI tools.
- Key Deliverables:
> - OLTP & OLAP schema creation (with ERD and SK mappings) --schema.sql / ERD.png
> - Cleaned DataFrames and transformation logic -- data_cleaning.ipynb
> - PostgreSQL loading script -- load_to_db.py
> - Advanced SQL query file (CTEs, window functions, aggregations) -- advanced_sql_queries.sql
> - cleaned_csvs/ – Output datasets (Optional)

## Project  Component

1. Data Modeling (OLTP + OLAP)
>- Define normalized tables (Orders, Customers, Products, Payments,Locations)
>-  Design dimensional model (FactSales: holds metrics like Amount, Profit, Quantity; DimCustomer; DimProduct; DimDate; DimLocation; DimPayment
>- 
 Generate ERD and SQL schema scrip

2. Data Cleaning & Transformation
>-  Clean raw CSVs using Panda
>- 
 Generate cleaned tables: customer_sales_df, product_sales_df, et
>- 
 Assign surrogate keys and export to 

3. ETL & Database Integration
>-  Load cleaned data into PostgreSQ
>- 
 Support inserts, updates, and auto-refre
>- 
 Use SQLAlchemy for integrat

4. Analytical Queries & Reporting
>-  Join OLAP tables for insight
>- 
 Use CTEs, window functions, CASE, and aggregatio
>- Generate monthly KPIs and percentile filters
>- Track profit and loss by category, city, and customer.Measure order frequency, high-profit sub-categories, and peak months.
-ts

## Data Model Design

![datamodel](datamodel.png)

## Load library & dataset

In [1]:
%matplotlib inline
%load_ext sql

import sys, os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from IPython.display import Image, display
import sqlite3
from dotenv import load_dotenv
load_dotenv()
from sqlalchemy import create_engine
import pymysql
from data_cleaning import *


print("✅ Environment ready!")

✅ Environment ready!

In [ ]:
sales_df =pd.read_csv("sales_historical_data.csv")
display(sales_df.head(3))
display(sales_df.info())

### Understanding dataset

| **Column Name**   | **Description**                                                                 |
|-------------------|----------------------------------------------------------------------------------|
| Order ID          |Identifier for each order line.                                               |
| Amount            | **Total sale value** of the order (includes both cost and profit).              |
| Profit            | Profit earned from the order (i.e., `Amount - Cost`).         
| Quantity          | Number of items sold in the order.                                              |
| Category          | Broad classification of the product (e.g., Electronics).                        |
| Sub-Category      | Specific type of product within the category (e.g., Printers, Electronic Games).|
| PaymentMode       | Payment method used (e.g., UPI, Credit Card).                                   |
| Order Date        | Date when the order was placed.                                                 |
| CustomerName      | Name of the customer who placed the order.                                      |
| State , City            | State where the order was delivered.                                            |

Order ID isnt unique (same ID is assigned to different customers) . This will be renamed to **orderlineID** and a new surrogate key used as the primary key to prevent failure into db table.

## Data-Preprocessing

In [ ]:
cleaned_df = sales_df.copy()
print(f"✅ Loaded {len(cleaned_df)} rows and {len(cleaned_df.columns)} columns.")

### Step 2: Standardize column names to snake_case

In [ ]:
print(" Step 2: Standardizing column names...")
cleaned_df = standardize_column_names(cleaned_df)
print(f"✅ Columns after cleaning: {list(cleaned_df.columns)}")

### Step 3: Handle missing values in critical fields

In [ ]:
critical_cols = ["order_id"]
print(f" Step 3: No missing rows with nulls in {critical_cols}...")

### Step 4: Convert date fields

In [ ]:
print(" Step 4: Converting 'order_date' and year_month'  to datetime...")
cleaned_df["order_date"] = pd.to_datetime(cleaned_df["order_date"], errors="coerce")
print(f"✅ Converted 'order_date' to datetime.")

### Step 5: Remove full duplicates (across all columns)

In [ ]:
print(" Step 5: Removing full duplicate rows (based on all columns)...")
before = len(cleaned_df)
cleaned_df = cleaned_df.drop_duplicates()
print(f"✅ Removed {before - len(cleaned_df)} full duplicate rows.")

### Step 6: Standardize object columns (text cleanup) with non-ID categorical fields

In [ ]:
print("Step 6: Standardizing categorical fields (excluding ID columns)...")
categorical_cols = [
    col for col in cleaned_df.select_dtypes(include=["object", "string"]).columns
    if "id" not in col.lower()
]

for col in categorical_cols:
    cleaned_df[col] = cleaned_df[col].astype(str).str.strip().str.lower()

print(f"✅ Standardized fields: {categorical_cols}")

exclude_cols = ["customer_name"]
filtered_cols = [col for col in categorical_cols if col not in exclude_cols]

for col in filtered_cols:
    print(f"\n🔎 Unique values in '{col}':")
    print(cleaned_df[col].unique())

### Step 7: Rename 'order_id' to 'orderline_id'

In [ ]:
cleaned_df.rename(columns={"order_id": "orderline_id"}, inplace=True)
print(" Step 7: order_id column renamed to 'orderline_id' ")
cleaned_df.info()

## Table Normalisation

In [ ]:
# Create oltp tables with PK and SK
customers_df = cleaned_df[['customer_name', 'city', 'state']].drop_duplicates().reset_index(drop=True)
customers_df['customer_id'] = customers_df.index + 1
customers_df['customer_sk'] = customers_df['customer_id']

products_df = cleaned_df[['category', 'sub_category']].drop_duplicates().reset_index(drop=True)
products_df['product_id'] = products_df.index + 1
products_df['product_sk'] = products_df['product_id']

payments_df = cleaned_df[['payment_mode']].drop_duplicates().reset_index(drop=True)
payments_df['payment_id'] = payments_df.index + 1
payments_df['payment_sk'] = payments_df['payment_id']

locations_df = cleaned_df[['city', 'state']].drop_duplicates().reset_index(drop=True)
locations_df['location_id'] = locations_df.index + 1
locations_df['location_sk'] = locations_df['location_id']

# Merge to build orders_sales_df with foreign keys
orders_df = cleaned_df.merge(customers_df, on=['customer_name', 'city', 'state']) \
              .merge(products_df, on=['category', 'sub_category']) \
              .merge(payments_df, on='payment_mode') \
              .merge(locations_df, on=['city', 'state'])

# Add primary key and surrogate key
orders_df = orders_df.reset_index(drop=True)
orders_df['order_id'] = orders_df.index + 1  # PK
orders_df['order_sk'] = orders_df['order_id']  # SK (same as PK for now)

# Final fact table (OLTP-level)
orders_df = orders_df[[
    'order_id', 'order_sk', 'orderline_id', 'order_date', 'year_month',
    'customer_sk', 'product_sk', 'payment_sk', 'location_sk',
    'amount', 'profit', 'quantity'
]]

display(orders_df.head(3))
display(customers_df.head(3))       
display(products_df.head(3))
display(payments_df.head(3))
display(locations_df.head(3))

### Build OLAP dimension tables using SKs from OLTP tables (De-normalisation)

In [ ]:
# DimCustomer
dim_customer = customers_df[['customer_sk', 'customer_name']].copy()

# DimProduct
dim_product = products_df[['product_sk', 'category', 'sub_category']].copy()

# DimPayment
dim_payment = payments_df[['payment_sk', 'payment_mode']].copy()

# DimLocation
dim_location = locations_df[['location_sk', 'city', 'state']].copy()

# DimDate
dim_date = orders_df[['order_date']].drop_duplicates().reset_index(drop=True)
dim_date['date_id'] = dim_date.index + 1
dim_date['day'] = dim_date['order_date'].dt.day
dim_date['month'] = dim_date['order_date'].dt.month
dim_date['quarter'] = dim_date['order_date'].dt.quarter
dim_date['year'] = dim_date['order_date'].dt.year
dim_date['day_of_week'] = dim_date['order_date'].dt.day_name()

# FactSales table
fact_sales = orders_df.merge(dim_date, on='order_date', how='left')

fact_sales = fact_sales[[
    'order_sk', 'customer_sk', 'product_sk', 'payment_sk', 'location_sk',
    'date_id', 'quantity', 'amount', 'profit'
]]

display(dim_customer.head(3))
display(dim_product.head(3))        
display(dim_payment.head(3))
display(dim_location.head(3))
display(dim_date.head(3))
display(fact_sales.head(3))

## Save cleaned df to file (optional)

In [ ]:
#customers_df.to_csv("customers.csv", index=False)
#products_df.to_csv("products.csv", index=False)
#locations_df.to_csv("locations.csv", index=False)
#payments_df.to_csv("payments.csv", index=False)
#orders_df.to_csv("orders.csv", index=False)

## Create OLTP Schema and Load Cleaned Data into pgAdmin with Error Handling

###  Step 1: Check if DB (sales_db) exist

In [ ]:
db_params = {
        'dbname': os.getenv('SALES_DB_NAME', 'postgres'),
        'user': os.getenv('SALES_DB_USER', 'postgres'),
        'password': os.getenv('SALES_DB_PASSWORD', ''),
        'host': os.getenv('SALES_DB_HOST', 'localhost'),
        'port': os.getenv('SALES_DB_PORT', '5432')
    }

In [2]:
# Check, create if needed, and connect
check_and_create_db(
    target_dbname="sales_db",
    url_env_var="BASE_URL"
)

ℹ️ Database 'sales_db' already exists.

###  Step 2: Connect to PostgreSQL db (sales_db)

In [3]:
#conn, curr = get_db_connection(env_prefix="SALES_DB_")  # uses default prefix DB_
conn, cur = get_db_connection(url_var="SALES_DB_URL")

[get_db_connection] ✅ Connected using URL from 'SALES_DB_URL'

### Step 3 Schema + Table Creation with Error Handling

In [ ]:
try:
    with open("schema.sql", "r") as f:
        curr.execute(f.read())
    conn.commit()
    print("✅ Schema created successfully.")

    # Run additional queries with the same cursor
    curr.execute("SELECT * FROM information_schema.tables WHERE table_schema = 'oltp'")
    oltp_tables = curr.fetchall()
    
    curr.execute("SELECT * FROM information_schema.tables WHERE table_schema = 'olap'")
    olap_tables = curr.fetchall()

    print("OLTP Tables:", [t[2] for t in oltp_tables])
    print("OLAP Tables:", [t[2] for t in olap_tables])

except Exception as e:
    print("❌ Error creating schema:", e)
    conn.rollback()

### ERD Schema

In [ ]:
display(Image("erd.png"))

### Step 4: Load Data Using Copy_Expert from Memory with Error Handling

In [ ]:
try:
        upsert_from_df(conn, customers_df, 'customers', ['customer_id'], schema='oltp')
        upsert_from_df(conn, products_df, 'products', ['product_id'], schema='oltp')
        upsert_from_df(conn, payments_df, 'payments', ['payment_id'], schema='oltp')
        upsert_from_df(conn, locations_df, 'locations', ['location_id'], schema='oltp')
        upsert_from_df(conn, orders_df, 'orders', ['order_id'], schema='oltp')

        upsert_from_df(conn, dim_customer, 'dim_customer', ['customer_sk'], schema='olap')
        upsert_from_df(conn, dim_product, 'dim_product', ['product_sk'], schema='olap')
        upsert_from_df(conn, dim_payment, 'dim_payment', ['payment_sk'], schema='olap')
        upsert_from_df(conn, dim_location, 'dim_location', ['location_sk'], schema='olap')
        upsert_from_df(conn, dim_date, 'dim_date', ['date_id'], schema='olap')
        upsert_from_df(conn, fact_sales, 'fact_sales', ['order_sk'], schema='olap')

        print(" All tables successfully uploaded.")

except Exception as e:
        print("❌ Error during table uploads:", e)
        conn.rollback()

### Step 5: Verify DB Load Successful

In [ ]:
try:
    query = "SELECT * FROM olap.fact_sales LIMIT 10;"
    fact_df = pd.read_sql_query(query, conn)
    print("✅ Query executed successfully.")
except Exception as e:
    print(f"❌ Failed to execute query: {e}")
fact_df.head(3)

###  Step 6: Final Cleanup

In [ ]:
curr.close()
conn.close()
print("Connection closed.")

## Key Analytical Use Cases & Example Queries

In [ ]:
%reload_ext sql
conn_str = os.getenv("SALES_DB_URL")
%sql $conn_str
%sql --connections

In [ ]:
with open('advanced_sql_queries.sql', 'r') as file:
    print(file.read())

###  1. Profit & Loss by Category, City, and Customer
- Business Goal: Track financial performance across dimensions

In [ ]:
%%sql
-- Total profit and amount by product category and city
SELECT dp.category, dl.city, SUM(fs.amount) AS total_sales, SUM(fs.profit) AS total_profit
FROM olap.fact_sales fs
JOIN olap.dim_product dp ON fs.product_sk = dp.product_sk
JOIN olap.dim_location dl ON fs.location_sk = dl.location_sk
GROUP BY dp.category, dl.city
ORDER BY total_profit DESC;

### 2. Order Frequency / Repeat Customers
- Business Goal: Measure engagement and loyalty

In [ ]:
%%sql
-- Top Repeating Customer(s) Only
WITH customer_orders AS (
    SELECT 
        dc.customer_name,
        COUNT(fs.order_sk) AS order_count,
        SUM(fs.amount) AS total_spent,
        SUM(fs.profit) AS total_profit
    FROM olap.fact_sales fs
    JOIN olap.dim_customer dc ON fs.customer_sk = dc.customer_sk
    GROUP BY dc.customer_name
),
ranked_orders AS (
    SELECT 
        customer_name,
        order_count,total_spent,total_profit,
        RANK() OVER (ORDER BY order_count DESC) AS order_rank
    FROM customer_orders
)
SELECT order_rank, customer_name, total_spent,order_count, total_profit
FROM ranked_orders
WHERE order_rank = 1
ORDER BY total_spent DESC, total_profit DESC;

In [ ]:
%%sql
-- Rank All Customers by Repeat Frequency(TOP 10)
SELECT 
    dc.customer_name,
    COUNT(fs.order_sk) AS order_count,
    SUM(fs.amount) AS total_spent,
    SUM(fs.profit) AS total_profit,
    RANK() OVER (ORDER BY COUNT(fs.order_sk) DESC) AS order_rank
FROM olap.fact_sales fs
JOIN olap.dim_customer dc ON fs.customer_sk = dc.customer_sk
GROUP BY dc.customer_name
ORDER BY order_rank, total_spent DESC, total_profit DESC
LIMIT 10;

In [ ]:
%%sql
-- Top 5 Customers by Total Amount Spent        
WITH customer_spending AS (
    SELECT 
        dc.customer_name,
        SUM(fs.amount) AS total_spent,
        COUNT(fs.order_sk) AS order_count
    FROM olap.fact_sales fs
    JOIN olap.dim_customer dc ON fs.customer_sk = dc.customer_sk
    GROUP BY dc.customer_name
)
SELECT customer_name, total_spent, order_count
FROM customer_spending
ORDER BY total_spent DESC   
LIMIT 5;

### 3. Top-Performing Sub-Categories
- Business Goal: Identify high-profit niches

In [ ]:
%%sql
-- Top sub-categories by average profit per order
SELECT dp.sub_category, ROUND(AVG(fs.profit), 2) AS avg_profit
FROM olap.fact_sales fs
JOIN olap.dim_product dp ON fs.product_sk = dp.product_sk
GROUP BY dp.sub_category
ORDER BY avg_profit DESC
LIMIT 10;

### 4. Peak Sales Months
- Business Goal: Inform inventory and marketing strategy

In [ ]:
%%sql
-- Monthly sales trends
SELECT dd.year, dd.month, SUM(fs.amount) AS total_sales
FROM olap.fact_sales fs
JOIN olap.dim_date dd ON fs.date_id = dd.date_id
GROUP BY dd.year, dd.month
ORDER BY total_sales DESC;

### 5. Cities Above 95th Percentile in Revenue
- Business Goal: Prioritize high-potential locations

In [ ]:
%%sql
-- Identify cities in top 5% of revenue
WITH city_sales AS (
    SELECT dl.city,dl.state, SUM(fs.amount) AS revenue
    FROM olap.fact_sales fs
    JOIN olap.dim_location dl ON fs.location_sk = dl.location_sk
    GROUP BY dl.city, dl.state
),
threshold AS (
    SELECT PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY revenue) AS cutoff FROM city_sales
)
SELECT cs.city,cs.state, cs.revenue
FROM city_sales cs
JOIN threshold t ON cs.revenue > t.cutoff
ORDER BY cs.revenue DESC;

In [ ]:
%%sql
-- Cumulative Revenue % by City
WITH city_sales AS (
    SELECT dl.city,dl.state, SUM(fs.amount) AS revenue
    FROM olap.fact_sales fs
    JOIN olap.dim_location dl ON fs.location_sk = dl.location_sk
    GROUP BY dl.city,dl.state
),
total AS (
    SELECT SUM(revenue) AS total_revenue FROM city_sales
),
ranked AS (
    SELECT 
        cs.city,
        cs.state,
        cs.revenue,
        SUM(cs.revenue) OVER (ORDER BY cs.revenue DESC) AS cumulative_revenue,
        t.total_revenue
    FROM city_sales cs
    CROSS JOIN total t
)
SELECT 
    city,
    state,
    revenue,
    ROUND((revenue / total_revenue) * 100, 2) AS revenue_pct,
    ROUND((cumulative_revenue / total_revenue) * 100, 2) AS cumulative_pct
FROM ranked
 --WHERE (cumulative_revenue / total_revenue) <= 0.80 -- To Get Cities Contributing Up to 80%
ORDER BY cumulative_revenue

### 6. Average Monthly Sales per Product
- Business Goal: Track product lifecycle or seasonal trends

In [ ]:
%%sql
-- Monthly average per product
SELECT dp.product_sk, dp.sub_category, ROUND(AVG(fs.amount), 2) AS avg_monthly_sales
FROM olap.fact_sales fs
JOIN olap.dim_product dp ON fs.product_sk = dp.product_sk
JOIN olap.dim_date dd ON fs.date_id = dd.date_id
GROUP BY dp.product_sk, dp.sub_category
ORDER BY avg_monthly_sales DESC;

## Close Connection

In [ ]:
%sql --close postgresql://postgres:***@localhost:5432/sales_db